/target/
/source/**/target/
/frontend/node_modules/
/source/**/node_modules/
/source/**/installer/
/backend/
/installer/
/test-artifacts/
/data/
/workload_data/
/postgres_data/
*.log
*.pdb
.DS_Store
Thumbs.db
/.codebuddy/
