# Multi-registry image deploy sample (do not keep real secrets in repository)
# Gitee source repository: https://gitee.com/HotLL233/labflow
# Set LABFLOW_GITEE_IMAGE after creating/configuring a Gitee container registry.
LABFLOW_GITEE_IMAGE=
LABFLOW_GHCR_IMAGE=ghcr.io/hotll233/labflow
LABFLOW_IMAGE=
LABFLOW_IMAGE_PRIORITY=gitee,ghcr
LABFLOW_VERSION=2.3.5
WORKLOAD_BIND_IP=127.0.0.1
WORKLOAD_SERVER_PORT=8000
POSTGRES_DB=workload_tool
POSTGRES_USER=workload_app
POSTGRES_PASSWORD=change_me_to_a_long_random_password
ADMIN_PASSWORD=change_me_to_a_long_admin_password


