LABFLOW_VERSION=2.3.2
POSTGRES_DB=workload_tool
POSTGRES_USER=workload_app
POSTGRES_PASSWORD=change_me_to_a_long_random_password
ADMIN_PASSWORD=change_me_to_a_long_admin_password
WORKLOAD_SERVER_PORT=8000
